*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial;
}

/* Styles the header */
header{
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-direction: row;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200;
}

/* Styles the home button */
.home-button{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Styles the buttons (Scratch, HTML+CSS, Passion Project) */
nav ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

nav li {
  margin-left: 20px;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Styles the buttosn when hovered over */
nav a:hover,
.home-button:hover {
  color: #ccc;
}