body {
  background-color: #1E1E1E;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 58px;
  background-color: #1E1E1E;
}

.grid img {
  height: 800px;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.intro {
  color: white;
  margin-top: 50px;
  font-size: 2vw;
  text-align: center;
}

.p1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5vw;
}

.p2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5vw;
}
